/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
/docker
/.idea
.env
.env.backup
.phpunit.result.cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

*.code-workspace
/config/database.php
/database/migrations/2018_03_10_132930_create_advert_attributes_table.php
/public/mix-manifest.json